<div class="password-group mb-3">
    <app-textbox
            formControlName="password"
            [label]="label"
            type="password"
            [floating]="floating"
            [required]="required"
            icon="fa-solid fa-lock">
    </app-textbox>

    <div *ngIf="showStrength && passwordControl?.value" class="password-strength">
        <div class="strength-bar" [ngClass]="passwordStrengthClass"></div>
        <small [ngClass]="passwordStrengthClass">
            {{
                passwordStrengthClass === 'strong'
                    ? 'Strong password'
                    : passwordStrengthClass === 'medium'
                        ? 'Medium password'
                        : 'Weak password'
            }}
        </small>
    </div>

    <app-textbox
            formControlName="confirmPassword"
            [label]="confirmLabel"
            type="password"
            [floating]="floating"
            [required]="required"
            icon="fa-solid fa-lock">
    </app-textbox>

    <div *ngIf="showMismatchError" class="invalid-feedback d-block">
        Passwords do not match.
    </div>
</div>
