<div class="dropdown-container">
    <div class="search-wrapper">
        <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="onSearch(searchTerm)"
                (keydown)="handleKeyDown($event)"
                (focus)="isDropdownOpen = true"
                [placeholder]="placeholder"
                class="search-input"
        />
        <button *ngIf="selectedLocation" class="clear-btn" (click)="clearSelection()">✕</button>
    </div>

    <div class="dropdown-list" *ngIf="isDropdownOpen">
        <div *ngIf="isLoading" class="loading">Loading...</div>

        <cdk-virtual-scroll-viewport itemSize="40" class="virtual-list">
            <div
                    *cdkVirtualFor="let loc of locations; let i = index"
                    class="dropdown-item"
                    [class.highlighted]="i === highlightedIndex"
                    (click)="selectLocation(loc)"
                    [innerHTML]="highlightMatch(loc.detailLocation)"
            ></div>
        </cdk-virtual-scroll-viewport>



        <div *ngIf="!isLoading && locations.length === 0" class="no-results">
            No results found
        </div>
    </div>
</div>
