<div class="dashboard container mt-4">
    <h2 class="mb-4">Dashboard</h2>

    <div class="row">
        <div class="col-md-3" *ngFor="let stat of stats">
            <div class="card shadow-sm text-center mb-3 dashboard-card">
                <div class="card-body">
                    <i class="fa {{ stat.icon }} fa-2x text-primary mb-2"></i>
                    <h5 class="card-title">{{ stat.title }}</h5>
                    <h3 class="card-text fw-bold">{{ stat.value }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a routerLink="/kyc" class="btn btn-outline-primary">
            <i class="fa fa-id-badge me-2"></i> Manage KYC
        </a>
    </div>
    <div>
        <!-- in parent component template -->
        <form [formGroup]="form" (ngSubmit)="submit()">
            <app-textbox
                    formControlName="email"
                    label="Email"
                    placeholder="Enter email"
                    icon="fa-solid fa-envelope"
                    [email]="true"
                    [required]="true"
                    helpText="We'll never share your email."
                    (enterPressed)="submit()"
            ></app-textbox>

            <app-textbox
                    formControlName="username"
                    label="Username"
                    placeholder="Username"
                    icon="fa-solid fa-user"
                    [minLength]="3"
                    [maxLength]="30"
            ></app-textbox>

            <app-button label="Save" (clicked)="submit()" variant="primary"></app-button>
        </form>

    </div>
    <div>
        <h3 class="mb-4">Button Example</h3>
        <app-button
                label="Save"
                icon="fa-solid fa-save"
        >
        </app-button>
        <app-button
                label="Delete"
                icon="fa fa-trash"
                variant="danger"
                [loading]="false"
        ></app-button>


        <app-button
                label="Loading..."
                variant="success"
                [outline]="true"
                size="sm"
                [loading]="true">
        </app-button>
        <app-button
                label="Submit Form"
                icon="fa-solid fa-check"
                variant="primary"
                size="lg"
                [block]="true"
        >
        </app-button>


    </div>
</div>
